.dropdown {
  position: absolute;
  display: flex;
  left: 0;
  right: 0;
  z-index: 10;

  .dropdown_menu_div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 300px;
    background-color: white;
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1),
      0px 10px 15px -3px rgba(0, 0, 0, 0.1);

    .dropdown_menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: auto;
      gap: 10px;
      position: relative;

      .dropdown_menu_link {
        display: flex;
        align-items: center;
        gap: 10px;
        border-radius: 4px;
        padding-right: 20px;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 10px;
        height: 100%;
        cursor: pointer;
        &:hover {
          background-color: rgba($color: #000000, $alpha: 0.1);
        }

        .dropdown_menu_icon {
          width: 25px;
        }

        .dropdown_menu_icon_text {
          display: flex;
          font-size: 15px;
          white-space: nowrap;
          font-weight: 500;
        }
      }
    }
  }

  .overlay {
    width: 100%;
    background-color: rgba($color: #000000, $alpha: 0.3);
    height: 100vh;
  }
}
