.wrapper {
  position: fixed;
  top: 0;
  height: 80px;
  border-bottom: 1px solid rgba($color: #000000, $alpha: 0.2);
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  place-items: center;
  place-content: center;
  background-color: white;

  .hamburger {
    display: flex;
    grid-column: span 1;
    transform: scale(2);
    cursor: pointer;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 3px;
    user-select: none;

    &:hover {
      background-color: rgba($color: #000000, $alpha: 0.2);
    }
  }

  .logo {
    display: flex;
    font-size: clamp(2.5rem, 0.4vw, 3.2rem);
    grid-column: span 10;
    cursor: pointer;
  }
  .toggleTheme {
    display: flex;
    grid-column: span 1;
    transform: scale(1.5);
    cursor: pointer;

    .dark_bg {
      background-color: black;
      color: rgba($color: #000000, $alpha: 0.6);
    }
  }
}

@media screen and (max-width: 600px) {
  .wrapper {
    grid-gap: 20px;

    .hamburger {
      transform: scale(1.5);
    }

    .logo {
      font-size: clamp(1.5rem, 0.4vw, 3rem);
      line-height: 30px;
      text-align: center;
    }
    .toggleTheme {
      transform: scale(1.2);
    }
  }
}
